<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatribe.apienroll.mapper.EnrollOpenApiMapper">

  <select id="getLastNTestNameOnPerDirection" resultType="com.javatribe.apienroll.entity.TestNotice">
    SELECT
    id,test_direction,test_name
    FROM
    test_notice
    WHERE
    (
    SELECT
    COUNT(*) FROM test_notice AS e
    WHERE
    e.`test_direction` = test_notice.`test_direction` AND e.`gmt_created` >= test_notice.`gmt_created`
    )
    <if test="n >= 0">
      &lt;= #{n}
    </if>
    AND test_notice.`delete_mark` = 0
  </select>
  <select id="getEnrollNoticeLastNYears" resultType="com.javatribe.apienroll.dto.EnrollNoticeDTO">
    SELECT *,YEAR(a.`gmt_created`) AS `year`
    FROM enroll_notice a
    WHERE a.delete_mark = 0
    <if test="n >= 0">
      AND YEAR(a.`gmt_created`)
      >=
      YEAR(NOW()) - #{n}
    </if>
    ORDER BY a.gmt_created DESC

  </select>
  <select id="getTestNoticeOnDirection" resultType="com.javatribe.apienroll.entity.TestNotice">
    SELECT * FROM test_notice a WHERE a.delete_mark = 0
    <if test="direction_code != null">
      AND a.`test_direction` = #{direction_code}
    </if>

  </select>
</mapper>