<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatribe.mapper.ArtTagMapper">
    <insert id="insertTags" parameterType="com.javatribe.vo.TagsRelationship">
        insert into t_art_tag(art_id, tag_id)
        values
        <foreach collection="tagIds" item="tag" separator=",">
            (artId, tag)
        </foreach>
    </insert>

    <select id="checkTag" resultType="java.lang.Integer">
        select count(*) from t_art_tag where tag_id = #{tagId}
    </select>

</mapper>