<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatribe.apicompetition.mapper.WinnerTeamMapper">
  <resultMap id="BaseResultMap" type="com.javatribe.apicompetition.pojo.po.WinnerTeam">
    <result column="team_id" jdbcType="BIGINT" property="teamId" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="team_user_list" jdbcType="VARCHAR" property="teamUserList" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="the_year" jdbcType="VARCHAR" property="theYear" />
    <result column="team_begin_time" jdbcType="TIMESTAMP" property="teamBeginTime" />
    <result column="team_end_time" jdbcType="TIMESTAMP" property="teamEndTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
    <result column="competition_id" jdbcType="BIGINT" property="competitionId" />
    <result column="team_order_num" jdbcType="INTEGER" property="teamOrderNum" />
    <result column="team_order_text" jdbcType="VARCHAR" property="teamOrderText" />
  </resultMap>
  <insert id="insert" parameterType="com.javatribe.apicompetition.pojo.po.WinnerTeam">
    <selectKey keyProperty="teamId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_winner_team (team_name, team_user_list, gmt_create, 
      gmt_modified, the_year, team_begin_time, 
      team_end_time, delete_status, competition_id, 
      team_order_num, team_order_text)
    values (#{teamName,jdbcType=VARCHAR}, #{teamUserList,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{theYear,jdbcType=VARCHAR}, #{teamBeginTime,jdbcType=TIMESTAMP}, 
      #{teamEndTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, #{competitionId,jdbcType=BIGINT}, 
      #{teamOrderNum,jdbcType=INTEGER}, #{teamOrderText,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select team_id, team_name, team_user_list, gmt_create, gmt_modified, the_year, team_begin_time, 
    team_end_time, delete_status, competition_id, team_order_num, team_order_text
    from t_winner_team
  </select>

  <select id="selectTeamOfCompetition" resultType="com.javatribe.apicompetition.pojo.po.WinnerTeamAndCompetition">
    SELECT
    tci.competition_id,
    tci.competition_name,
    twt.team_name,
    twt.team_user_list,
    nos.year_start_time as team_begin_time,
    nos.year_end_time as team_end_time,
    nos.the_year,
    twt.team_order_num,
    twt.team_order_text
    FROM
    `t_winner_team` AS twt
        INNER JOIN t_competition_introduction AS tci ON twt.competition_id = tci.competition_id
        INNER JOIN number_of_sessions AS nos ON nos.year_id = twt.the_year
    WHERE
        twt.delete_status = 0 and nos.delete_status = 0
    ORDER BY
    twt.competition_id,
    STR_TO_DATE( date_format( nos.year_start_time, '%Y-%m-%d' ), '%Y' ) DESC,
    twt.team_order_num
  </select>

   <insert id="addSessionNum" parameterType="com.javatribe.apicompetition.pojo.po.NumberOfSessions" useGeneratedKeys="true" keyProperty="yearId">
        INSERT INTO number_of_sessions (the_year,year_start_time,year_end_time)
        VALUES
	    (#{theYear},#{yearStartTime},#{yearEndTime});
   </insert>

  <select id="queryRegisterTeamByNameAndTheYear" resultType="com.javatribe.apicompetition.pojo.po.RegisterTeam">
    SELECT
	*
    FROM
	t_register_team
    WHERE
	team_name = #{teamName}
	AND competition_id = #{competitionId}
	AND STR_TO_DATE( date_format( register_time, '%Y-%m-%d' ), '%Y' )= STR_TO_DATE(
		date_format(( SELECT year_start_time FROM number_of_sessions WHERE the_year = #{year} ), '%Y-%m-%d' ),
	'%Y'
	)
  </select>

  <insert id="addGetPrizesData">
    set @year_id=(select year_id from number_of_sessions where the_year=#{theYear});
    insert into t_winner_team(team_id, team_name, team_user_list, gmt_create,
    gmt_modified, the_year, team_begin_time, team_end_time, competition_id,
    team_order_num, team_order_text)
    values(#{teamId},#{teamName},#{teamUserList},#{gmtCreate},#{gmtModified},@year_id,#{teamBeginTime},
    #{teamEndTime},#{competitionId},#{teamOrderNum},#{teamOrderText})
  </insert>
</mapper>