<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatribe.apienroll.mapper.EnrollOpenApiMapper">

  <select id="getLastNTestNameOnDirection" resultType="com.javatribe.apienroll.entity.TestNotice">
    SELECT
            id,test_direction,test_name
    FROM
            test_notice WHERE test_direction = #{direction_code} ORDER BY gmt_created DESC LIMIT #{n}
  </select>
  <select id="getEnrollNoticeLastNYears" resultType="com.javatribe.apienroll.dto.EnrollNoticeDTO">
    SELECT *,YEAR(a.`gmt_created`) AS `year`
    FROM enroll_notice a
    WHERE
            a.delete_mark = 0
      AND
            YEAR(a.`gmt_created`) >= (YEAR(NOW()) - #{n} + 1) ORDER BY a.gmt_created DESC

  </select>
  <select id="getTestNoticeOnDirection" resultType="com.javatribe.apienroll.entity.TestNotice">
    SELECT * FROM test_notice a WHERE a.delete_mark = 0
    <if test="direction_code != null">
      AND a.`test_direction` = #{direction_code}
    </if>

  </select>
</mapper>