<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatribe.direction.mapper.CooperationMapper">

    <resultMap type="com.javatribe.direction.bean.entity.Cooperation" id="CooperationMap">
        <result property="cooperationId" column="cooperation_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARBINARY"/>
        <result property="photo" column="photo" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="BIT"/>
        <result property="deleteStatus" column="delete_status" jdbcType="BIT"/>
    </resultMap>

</mapper>