server:
  port: 8090
spring:
  datasource:
    url: jdbc:mysql://47.92.200.8:3306/javatribe?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useSSL=false&allowMultiQueries=true
    password: pBcrDNAMFr7ifb7e
    username: javatribe
    driver-class-name: com.mysql.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 200MB #最大 上传 2G
      max-request-size: 200MB
  mvc:
    throw-exception-if-no-handler-found: true
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
#    serialization: {WRITE_DATES_AS_TIMESTAMPS: true}
  profiles:
    active: dev
  task:
    scheduling:
      pool:
        size: 2

  aop:
    auto: true
    proxy-target-class: true

  resources:
    static-locations: classpath:/static/

mybatis-plus:
  mapper-locations: com/javatribe/introduction/mapper/xml/*.xml,classpath*:/mappers/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
mybatis:
  mapper-locations: classpath*:/mapping/**/*.xml,classpath*:/mapper/**/*.xml,classpath*:/mappers/**/*.xml
#  type-aliases-package: com.javatribe.apicompetition.pojo.po
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


oss:
  access-key-id: LTAI4GL5YbDREf9WSAv6xo5a
  access-key-secret: L5QB1ls2XSBfAnTq1I1naG6RRG1cFT
  bucket-name: javatribe
  endpoint: oss-cn-guangzhou.aliyuncs.com
  host: https://${oss.bucket-name}.${oss.endpoint}


