spring:
  datasource:
    url: jdbc:mysql://4xxx/video_app?useUnicode=true&characterEncoding=UTF-8
    password: lyrxxooxxoo
    username: root
    driver-class-name: com.mysql.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 200MB #最大 上传 2G
      max-request-size: 200MB
  mvc:
    throw-exception-if-no-handler-found: true
  jackson:
    time-zone: GMT+8
    serialization: {WRITE_DATES_AS_TIMESTAMPS: true}





