<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatribe.apicompetition.mapper.RegisterTeamMapper">
  <resultMap id="BaseResultMap" type="com.javatribe.apicompetition.pojo.po.RegisterTeam">
    <id column="register_id" jdbcType="BIGINT" property="registerId" />
    <result column="competition_id" jdbcType="BIGINT" property="competitionId" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="team_leader_name" jdbcType="VARCHAR" property="teamLeaderName" />
    <result column="team_leader_phone" jdbcType="VARCHAR" property="teamLeaderPhone" />
    <result column="team_leader_student_id" jdbcType="VARCHAR" property="teamLeaderStudentId" />
    <result column="team_leader_wechat" jdbcType="VARCHAR" property="teamLeaderWechat" />
    <result column="team_leader_college" jdbcType="VARCHAR" property="teamLeaderCollege" />
    <result column="team_user_list" jdbcType="VARCHAR" property="teamUserList" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_register_team
    where register_id = #{registerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.javatribe.apicompetition.pojo.po.RegisterTeam">
    <selectKey keyProperty="registerId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_register_team (competition_id, team_name, team_leader_name, 
      team_leader_phone, team_leader_student_id, team_leader_wechat, 
      team_leader_college, team_user_list, delete_status, 
      register_time,team_user_id)
    values (#{competitionId,jdbcType=BIGINT}, #{teamName,jdbcType=VARCHAR}, #{teamLeaderName,jdbcType=VARCHAR}, 
      #{teamLeaderPhone,jdbcType=VARCHAR}, #{teamLeaderStudentId,jdbcType=VARCHAR}, #{teamLeaderWechat,jdbcType=VARCHAR}, 
      #{teamLeaderCollege,jdbcType=VARCHAR}, #{teamUserList,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=INTEGER}, 
      #{registerTime,jdbcType=TIMESTAMP},#{teamUserId})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.javatribe.apicompetition.pojo.po.RegisterTeam">
    update t_register_team
    <trim prefix="set" suffixOverrides=",">
        <if test="competitionId!=null">
            competition_id = #{competitionId,jdbcType=BIGINT},
        </if>
        <if test="teamName!=null and teamName!=''">
            team_name = #{teamName,jdbcType=VARCHAR},
        </if>
        <if test="teamLeaderName!=null and teamLeaderName!=''">
            team_leader_name = #{teamLeaderName,jdbcType=VARCHAR},
        </if>
        <if test="teamLeaderPhone!=null and teamLeaderPhone!=''">
            team_leader_phone = #{teamLeaderPhone,jdbcType=VARCHAR},
        </if>
        <if test="teamLeaderStudentId!=null and teamLeaderStudentId!=''">
            team_leader_student_id = #{teamLeaderStudentId,jdbcType=VARCHAR},
        </if>
        <if test="teamLeaderWechat!=null and teamLeaderWechat!=''">
            team_leader_wechat = #{teamLeaderWechat,jdbcType=VARCHAR},
        </if>
        <if test="teamLeaderCollege!=null and teamLeaderCollege!=''">
            team_leader_college = #{teamLeaderCollege,jdbcType=VARCHAR},
        </if>
        <if test="teamUserList!=null and teamUserList!=''">
            team_user_list = #{teamUserList,jdbcType=VARCHAR},
        </if>
        <if test="deleteStatus!=null">
            delete_status = #{deleteStatus,jdbcType=INTEGER},
        </if>
        <if test="registerTime!=null">
            register_time = #{registerTime,jdbcType=TIMESTAMP},
        </if>
        <if test="teamUserId!=null and teamUserId!=''">
            team_user_id = #{teamUserId}
        </if>
    </trim>
    where register_id = #{registerId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select register_id, competition_id, team_name, team_leader_name, team_leader_phone, 
    team_leader_student_id, team_leader_wechat, team_leader_college, team_user_list, 
    delete_status, register_time
    from t_register_team
    where register_id = #{registerId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select register_id, competition_id, team_name, team_leader_name, team_leader_phone, 
    team_leader_student_id, team_leader_wechat, team_leader_college, team_user_list, 
    delete_status, register_time
    from t_register_team
  </select>

  <select id="querySignUpKinds" resultType="com.javatribe.apicompetition.pojo.po.CompetitionIntroduction">
    SELECT
	    competition_id,competition_name
    FROM
	    t_competition_introduction
    WHERE
    	delete_status = 0
	    AND sign_up=1
  </select>

  <select id="selectSameTeamName" resultType="java.lang.Integer">
    SET @date=IF(#{registerId} is not null and #{registerId}!='',(select register_time from
    t_register_team where register_id=#{registerId}),now());
    SELECT
	count( register_id )
    FROM
	`t_register_team`
    WHERE
	STR_TO_DATE( date_format( register_time, '%Y-%m-%d' ), '%Y' ) = STR_TO_DATE( @date, '%Y' )
	AND competition_id = #{competitionId}
	AND team_name = #{teamName}
	<if test="registerId!=null and registerId!=''">
    AND register_id!=#{registerId}
    </if>
  </select>

  <select id="selectSameTeamLeaderName" resultType="java.lang.Integer">
      SET @date=IF(#{registerId} is not null and #{registerId}!='',(select register_time
      from t_register_team where register_id=#{registerId}),now());
      SELECT
	count( register_id )
    FROM
	`t_register_team`
    WHERE
	STR_TO_DATE( date_format( register_time, '%Y-%m-%d' ), '%Y' ) = STR_TO_DATE( @date, '%Y' )
	AND competition_id = #{competitionId}
	AND team_leader_name = #{teamLeaderName}
	<if test="registerId!=null and registerId!=''">
    AND register_id!=#{registerId}
    </if>
  </select>

  <select id="queryRegisterList" resultType="com.javatribe.apicompetition.pojo.po.RegisterTeam">
    SET @date=(str_to_date((select date_format(nos.year_start_time,'%Y') from t_winner_team as twt inner join number_of_sessions as nos on twt.the_year=nos.year_id
    where twt.competition_id=#{competitionId} order by year_id desc limit 1),'%Y'));
    SET @index = 0;
    SELECT
	@index:=@index + 1 AS `order`,
	register_id,
	competition_id,
	team_name,
	team_leader_name,
	team_leader_phone,
	team_leader_student_id,
	team_leader_wechat,
	team_leader_college,
	team_user_list,
	team_user_id,
	delete_status,
	register_time
FROM
	t_register_team
WHERE
	str_to_date( date_format( register_time, '%Y' ), '%Y' ) >
	(if(@date=null,str_to_date('1998','%Y'),@date))
	AND competition_id = #{competitionId}
	AND delete_status = 0
  </select>

</mapper>